<section id="fullwidth-video-section">
  <div class="fullwidth-video-wrapper">
    {% if section.settings.image_banner != blank %}
      {% if section.settings.image_banner != blank %}
        <img
          src="{{ section.settings.image_banner | image_url: width: 1500 }}"
          alt="Banner Image"
          width="120"
          height="480"
          loading="lazy"
          class="w-full"
      />

      {% endif %}
    {% else %}
      {% if section.settings.video_url != blank %}
        <video src="{{ section.settings.video_url }}"
          class="w-full h-[84vh] object-cover"
          loop
          autoplay
          muted
          style="height: 84vh; width: 100%; max-width: none; max-height: none; object-fit: cover;"></video>
      {% else %}
        <video src="{{ section.settings.video.sources[1].url }}"
          class="w-full h-[84vh] object-cover"
          loop
          autoplay
          muted
          style="height: 84vh; width: 100%; max-width: none; max-height: none; object-fit: cover;"></video>
      {% endif %}
    {% endif %}
    <!-- Overlay content container -->
    <div class="video-overlay-content flex flex-col gap-10" style="display:none;">
      <div class="text-content-gradient"></div>

      <!-- Text content on top of the gradient -->
      <div class="text-content-overlay flex flex-col gap-10">
        <h1 class="text-[70px] font-[600] text-white leading-[30px] md:leading-none">{{ section.settings.video_heading }}</h1>
        <p class="text-[20px] font-[300]">{{ section.settings.video_description }}</p>
      </div>
      <a href="{{ section.settings.link }}">
        <div class="flex gap-5 button border-none">
          <button class="text-[13px] md:text-[17px] text-black">{{ section.settings.button_text }}</button>
        </div>
      </a>
    </div>
  </div>
<style>
.video-overlay-content div:empty{
  display: block;
}
  #fullwidth-video-section {
    width: 100vw;
  }
  .text-content-overlay {
    position: relative;
    z-index: 2; /* Keep the text above the gradient */
    padding: 0 50px;
  }

  .text-content-gradient {
    border-radius: 40px;
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 130%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Gradasi hitam ke transparan */
    z-index: 1;
  }
  .fullwidth-video-wrapper {
    position: relative;
    width: 100%;
    height: auto;
  }

  video {
    width: 100%;
    height: auto;
    display: block;
  }

  .video-overlay-content {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    width: 70%;
  }

  /* Responsive styles */
  @media screen and (max-width: 1420px) {
    .video-overlay-content {
      width: 70%;
    }
  }
  @media screen and (max-width: 1190px) {
    .video-overlay-content {
      width: 90%;
    }
  }
  @media screen and (max-width: 1000px) {
    .video-overlay-content h1 {
      font-size: 50px;
    }
    .video-overlay-content p {
      font-size: 14px;
    }
  }
  @media screen and (max-width: 500px) {
    .video-overlay-content h1 {
      font-size: 28px;
    }
    .video-overlay-content p {
      font-size: 12px;
    }
  }

  .video-overlay-content .button {
    width: fit-content;
    margin: auto;
    padding: 10px 30px;
    background-color: white;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0px !important;
  }
</style>
</section>

{% schema %}
{
"name": "Full Width Video Section",
"settings": [
  {
    "type": "video",
    "id": "video",
    "label": "Upload Video"
  },
  {
    "type": "url",
    "id": "video_url",
    "label": "Upload URL Video"
  },
  {
    "type": "image_picker",
    "id": "image_banner",
    "label": "Image Banner"
  },
  {
    "type": "text",
    "id": "video_heading",
    "label": "Video Heading",
    "default": "Unleash Your Potential With SVRG."
  },
  {
    "type": "textarea",
    "id": "video_description",
    "label": "Video Description",
    "default": "High-Performance Workout Gear Designed for Comfort, Flexibility, and Durability"
  },
  {
    "type": "text",
    "id": "button_text",
    "label": "Button Text",
    "default": "Shop Now"
  },
  {
    "type": "url",
    "id": "link",
    "label": "Button Link"
  }
],
"presets": [
  {
    "name": "Full Width Video",
    "category": "Custom"
  }
]
}
{% endschema %}
