{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
}
{%- endstyle -%}
<div id="collection-list-section" class="section-{{ section.id }}-padding">
    <div class="collection-list-wrapper">
      <h2 class="title text-[30px] md:text-[40px] title-custom-category">
        {{ section.settings.title }}
      </h2>
      <div class="collection-list-grid" style="height: 140px;">
        {% for block in section.blocks %}
          {% if block.type == 'collection_block' and block.settings.collection != blank %}
            {% assign collection = collections[block.settings.collection] %}
            <div class="collection-item">
              <a href="{{ collection.url }}">
                <img src="{{ collection.metafields.custom.thumbnail | img_url: '150x150' }}" alt="{{ collection.title }}">
                <p class="text-[12px] md:text-[20px] mt-3">{{ collection.title }}</p>
              </a>
            </div>
          {% endif %}
        {% endfor %}
    </div>
</div>

    <style>
      ::-webkit-scrollbar {
        width: 4px; /* Adjust width for vertical scrollbar */
        height: 4px; /* Adjust height for horizontal scrollbar */
    }

    /* Background of the scrollbar */
    ::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color of the track */
    }

    /* Scrollbar handle */
    ::-webkit-scrollbar-thumb {
        background: #63d7d1; /* Color of the handle */
        border-radius: 10px; /* Rounded corners */
    }

    /* Hover effect for the handle */
    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color on hover */
    }
    .collection-list-wrapper::-webkit-scrollbar {
      width: 2px; /* Adjust width for vertical scrollbar */
      height: 2px; /* Adjust height for horizontal scrollbar */
  }
      .collection-list-wrapper {
        max-width: var(--page-width);
        margin: auto;
        padding: 0px 7rem 20px;
      }
      .collection-list-grid {
       display: flex;
       column-gap: 20px;
       overflow-x: scroll;
       overflow-y: hidden;
       column-gap: 30px;
      }
      .collection-item {
        min-width: 100px;
        text-align: center;
      }
      .collection-item img {
        margin: auto;
        object-fit: cover;
        width: 100%;
        height: 180px;
      }
      @media screen and (max-width: 500px){
        .collection-list-grid {
          height: 140px;
        }
        .featured-collection{
          padding-top: 0px !important;
        }
        #collection-list-section{
          margin-bottom: 20px;
        }
      }
      @media screen and (max-width: 750px){
        .collection-item img {
          width: 100%;
          height: 100px;
        }
        .collection-list-grid {
          justify-content: start;
         }
         .collection-list-wrapper {
         padding-left: 17px;
         padding-right: 0px;
        }
        .collection-list-grid {
          column-gap: 9px;
         }
      }
      .collection-item h3 {
        margin-top: 10px;
        font-size: 18px;
      }
    </style>
  </div>

  {% schema %}
  {
    "name": "Custom Collection List",
    "settings": [
        {
          "id": "title",
          "label": "Title",
          "type": "text",
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_top",
            "default": 36
          },
          {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "t:sections.all.padding.padding_bottom",
            "default": 36
          }
    ],
    "blocks": [
      {
        "type": "collection_block",
        "name": "Collection Block",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Collection List",
        "category": "Custom"
      }
    ]
  }
  {% endschema %}
