<div class="custom-feature-section flex flex-col gap-3 px-[2rem] md:px-[5rem] pt-56">
 <div class="flex flex-col md:flex-row gap-10">
  <div class="upper-section bg-[#dbdbdb68] rounded-[30px] py-20 pl-16 w-[100%]">
    <h2 class="text-[20px] md:text-[24px]">{{ section.settings.title_section }}</h2>
    <ul class="mt-10 mb-14 text-[15px] md:text-[18px] font-normal list-benefit">
      <li>
        <div class="flex gap-5  ">
          {{ section.settings.benefit_1 }}
          <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.5 19.23">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }

                .cls-2 {
                  fill: #010101;
                }
              </style>
            </defs>
            <g id="Layer_2-2" data-name="Layer_2">
              <g>
                <path class="cls-2" d="M27.5,9.63c0,1.52,0,3.04,0,4.55,0,.48-.21.79-.63.99-2.83,1.31-5.66,2.63-8.5,3.94-.33.16-.65.16-.99,0-2.82-1.32-5.65-2.63-8.48-3.94-.46-.21-.67-.54-.66-1.05.01-3.02,0-6.03,0-9.05,0-.5.21-.82.66-1.02C11.75,2.75,14.58,1.43,17.41.11c.32-.15.62-.15.93,0,2.85,1.32,5.7,2.64,8.55,3.97.41.19.61.5.61.97-.01,1.53,0,3.05,0,4.58Z"/>
                <path class="cls-2" d="M7.34,11.76c-.01.65-.66,1.05-1.29.81-.91-.36-1.81-.73-2.72-1.09-.9-.36-1.8-.71-2.7-1.08-.45-.18-.67-.56-.62-1.01.05-.39.37-.71.8-.78.18-.03.34.02.5.08,1.81.72,3.61,1.44,5.42,2.17.42.17.62.49.61.9Z"/>
                <path class="cls-2" d="M7.34,7.58c0,.8-.65,1.22-1.33.94-1.64-.65-3.28-1.31-4.91-1.97-.17-.07-.34-.13-.5-.2-.49-.21-.71-.73-.52-1.2.19-.47.71-.7,1.21-.51,1.83.72,3.65,1.45,5.47,2.19.38.15.57.45.59.75Z"/>
                <path class="cls-2" d="M3.69,1.65c.11,0,.22.02.33.06.91.37,1.83.73,2.75,1.1.39.16.59.51.57.93-.02.37-.28.69-.67.8-.19.06-.37.05-.56-.02-.93-.37-1.87-.74-2.8-1.12-.42-.17-.64-.63-.54-1.05.1-.42.48-.71.92-.71Z"/>
                <path class="cls-1" d="M18.79,16.86v-.27c0-2.25,0-4.5,0-6.75,0-.14,0-.25.17-.34,2.18-1,4.36-2.02,6.53-3.03.05-.02.1-.04.17-.06,0,1.45,0,2.88,0,4.31,0,.92,0,1.83,0,2.75,0,.15-.03.24-.18.31-2.18,1.01-4.36,2.02-6.54,3.03-.04.02-.09.03-.16.05Z"/>
                <path class="cls-1" d="M16.96,16.88c-1.04-.48-2.03-.95-3.03-1.41-1.2-.56-2.41-1.12-3.62-1.67-.13-.06-.23-.11-.23-.3,0-2.33,0-4.66,0-6.98,0-.03,0-.05.01-.11.69.32,1.36.65,2.05.94.35.15.51.33.47.73-.04.43-.01.88,0,1.32,0,.53.4.92.92.92.52,0,.91-.4.91-.93,0-.31,0-.61,0-.92.1-.04.17.03.24.07.7.32,1.39.65,2.09.97.1.05.19.08.19.23,0,2.37,0,4.73,0,7.15Z"/>
                <path class="cls-1" d="M15.59,6.91c2.11-1,4.16-1.96,6.21-2.94.18-.09.32-.08.5,0,.68.33,1.36.64,2.08.97-.21.1-.38.18-.56.26-1.91.89-3.83,1.78-5.74,2.67-.15.07-.28.07-.43,0-.67-.32-1.35-.64-2.07-.97Z"/>
                <path class="cls-1" d="M19.86,2.85c-.67.32-1.28.61-1.9.9-1.45.69-2.9,1.37-4.35,2.06-.15.07-.27.07-.42,0-.59-.29-1.19-.55-1.83-.85.41-.19.77-.37,1.14-.54,1.72-.8,3.44-1.6,5.16-2.4.13-.06.23-.09.37-.02.58.28,1.17.55,1.82.85Z"/>
              </g>
            </g>
          </svg>
        </div>
      </li>
      <li>
        <div class="flex gap-5  ">
          {{ section.settings.benefit_2 }}
          <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.97 20.73">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }

                .cls-2 {
                  fill: #020202;
                }

                .cls-3 {
                  fill: #010101;
                }

                .cls-4 {
                  fill: #050505;
                }
              </style>
            </defs>
            <g id="Layer_2-2" data-name="Layer_2">
              <g>
                <path class="cls-3" d="M22.97,8.48c0,1.37,0,2.73,0,4.1,0,.16-.05.25-.18.33-.33.2-.65.42-.97.61-.12.07-.15.12-.09.26,1.4,2.87-.27,6.26-3.41,6.85-1.85.35-3.42-.25-4.64-1.69-.11-.13-.17-.16-.32-.06-.52.35-1.06.67-1.59,1.02-.16.1-.3.13-.48.05-3.66-1.59-7.31-3.18-10.97-4.75C.07,15.09,0,14.97,0,14.72c.01-2.7,0-5.4,0-8.1,0-.16.06-.23.18-.3C4.08,4.25,7.98,2.19,11.87.11c.22-.12.41-.16.66-.06,3.32,1.32,6.64,2.62,9.96,3.93q.48.19.48.7c0,1.27,0,2.53,0,3.8Z"/>
                <path class="cls-1" d="M.75,7.23c.16.01.28.09.4.14,1.17.46,2.34.93,3.51,1.39.13.05.17.11.17.25,0,.66,0,1.33,0,1.99,0,.24.09.39.31.48.56.22,1.13.43,1.69.68.33.14.62-.06.6-.42-.03-.61,0-1.22,0-1.86.16.06.3.12.45.18,1.02.41,2.04.81,3.06,1.22.1.04.2.06.2.23,0,2.5,0,5,0,7.53-.37-.16-.72-.3-1.07-.46-3.02-1.31-6.05-2.62-9.07-3.93-.18-.08-.23-.16-.23-.35,0-2.27,0-4.54,0-6.8,0-.08,0-.17,0-.26Z"/>
                <path class="cls-1" d="M11.86,18.93v-.22c0-2.4,0-4.8,0-7.2,0-.14.03-.22.16-.29,3.36-2.01,6.71-4.02,10.07-6.04.04-.02.08-.04.14-.08v.24c0,2.27,0,4.54,0,6.8,0,.17-.05.26-.2.34-.23.13-.45.27-.66.42-.11.08-.16.05-.24-.04-.79-.95-1.8-1.53-3.02-1.72-2.4-.36-4.75,1.14-5.38,3.58-.28,1.11-.18,2.2.32,3.24.06.12.05.18-.07.25-.37.22-.73.45-1.13.71Z"/>
                <path class="cls-1" d="M21.75,4.5c-.61.37-1.19.72-1.77,1.07-2.77,1.66-5.54,3.32-8.31,4.99-.15.09-.27.11-.44.04-1.1-.45-2.21-.89-3.31-1.33.02-.08.09-.09.15-.13,3.24-2.01,6.49-4.02,9.73-6.03.13-.08.23-.08.36-.03,1.18.47,2.37.94,3.6,1.42Z"/>
                <path class="cls-1" d="M1.27,6.6c.76-.41,1.49-.79,2.21-1.18,2.86-1.52,5.72-3.04,8.58-4.56.13-.07.24-.08.38-.03.91.37,1.83.72,2.77,1.09-.64.4-1.26.78-1.87,1.16-2.67,1.65-5.34,3.3-8,4.96-.13.08-.23.09-.38.03-1.21-.49-2.43-.98-3.69-1.48Z"/>
                <path class="cls-1" d="M17.43,11.84c2.22,0,4.06,1.84,4.06,4.05,0,2.25-1.82,4.07-4.06,4.07-2.26,0-4.07-1.81-4.08-4.07,0-2.23,1.83-4.05,4.09-4.05Z"/>
                <path class="cls-1" d="M6.07,8.51c.04-.09.13-.12.2-.16,3.21-1.99,6.43-3.98,9.64-5.98.12-.08.22-.09.36-.03.25.12.52.21.8.32-1.05.65-2.08,1.29-3.1,1.92-2.26,1.4-4.52,2.8-6.79,4.2-.11.07-.2.09-.33.03-.25-.12-.52-.21-.78-.31Z"/>
                <path class="cls-1" d="M6.67,11.28c-.36-.15-.7-.28-1.04-.42-.08-.03-.07-.09-.07-.15,0-.52,0-1.03,0-1.57.36.14.7.27,1.04.41.06.02.07.07.07.13,0,.52,0,1.04,0,1.6Z"/>
                <path class="cls-2" d="M2.97,13.65c-.6-.24-1.18-.47-1.75-.7-.09-.04-.1-.09-.1-.17,0-.17,0-.34,0-.53.23.05.43.15.64.24.35.14.69.29,1.04.41.13.05.18.11.17.25-.01.15,0,.31,0,.5Z"/>
                <path class="cls-2" d="M2.97,14.8c-.61-.24-1.19-.48-1.77-.71-.06-.02-.08-.06-.08-.12,0-.19,0-.38,0-.59.6.24,1.18.47,1.76.7.07.03.09.07.09.14,0,.18,0,.36,0,.57Z"/>
                <path class="cls-3" d="M15.19,16.56c0-.4,0-.8,0-1.2,0-.13,0-.24.18-.2.2.04.21-.07.2-.22-.06-.95.53-1.61,1.17-1.87,1.21-.48,2.52.4,2.53,1.71,0,.05,0,.11,0,.16-.02.16.02.25.21.21.13-.03.17.03.17.16,0,.83,0,1.67,0,2.5,0,.51-.41.97-.92,1.03-.58.07-1.17.02-1.76.03-.26,0-.53,0-.79-.02-.58-.06-.98-.52-.98-1.09,0-.4,0-.8,0-1.2Z"/>
                <path class="cls-1" d="M17.41,18.12c-.35,0-.71,0-1.06,0-.28,0-.41-.13-.42-.41,0-.55,0-1.09,0-1.64,0-.11.03-.14.14-.14.89-.02,1.79-.02,2.68,0,.11,0,.15.02.14.14,0,.55,0,1.09,0,1.64,0,.28-.14.41-.42.41-.35,0-.71,0-1.06,0Z"/>
                <path class="cls-1" d="M17.41,15.16c-.32,0-.65,0-.97,0-.06,0-.13.02-.14-.09-.08-.95.59-1.45,1.28-1.36.53.07.93.53.95,1.11q0,.34-.33.34c-.26,0-.52,0-.79,0Z"/>
                <path class="cls-4" d="M17.78,16.83c0,.58,0,.58-.57.57-.13,0-.18-.03-.17-.16.01-.27.01-.54,0-.81,0-.14.04-.16.17-.16.57,0,.57-.01.57.57Z"/>
              </g>
            </g>
          </svg>
        </div>
      </li>
      <li>
        <div class="flex gap-5  ">
          {{ section.settings.benefit_3 }}
          <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.32 18.16">
            <defs>
              <style>
                .cls-1 {
                  fill: #fff;
                }

                .cls-2 {
                  fill: #010101;
                }
              </style>
            </defs>
            <g id="Layer_2-2" data-name="Layer_2">
              <g>
                <path class="cls-1" d="M4.29,3.91c3.18-.03,6.37-.02,9.55.02.51,0,1.07.03,1.45.38.12.11.36.51.42.67.13.35.03.87.03,1.23v2.74c.02,1.83.02,3.65.03,5.48,0,.73-.01,1.52-.44,2.12-.32.44-.84.72-1.37.84-.61.14-1.27.12-1.88.21-.74.11-1.51.02-2.25-.04-2.19-.18-4.4-.23-6.6-.15-.85.03-1.83.03-2.39-.61-.37-.42-.45-1.01-.5-1.57-.29-3.11-.18-6.24-.07-9.37.02-.43.05-.9.37-1.19.28-.25.69-.28,1.06-.25s.75.12,1.12.05c.73-.13.73-.56,1.47-.57Z"/>
                <path class="cls-2" d="M11.09,11.62c.23.22.41.39.59.57.3.31.31.73.02,1.01-.28.28-.71.27-1.01-.03-.59-.58-1.17-1.16-1.75-1.75-.31-.32-.31-.73,0-1.05.58-.59,1.16-1.17,1.75-1.75.31-.3.73-.3,1.01-.02.28.29.27.7-.03,1.01-.18.18-.36.36-.59.58.17,0,.3,0,.42,0,.67,0,1.34-.02,1.99.18,1.56.47,2.98,2.02,2.8,4.18-.15,1.71-1.43,3.2-3.26,3.54-.23.04-.47.06-.71.06-3.43,0-6.85-.02-10.28,0C.98,18.17-.01,17.33,0,16.11c.02-2.62,0-5.23,0-7.85,0-1.18,0-2.36,0-3.54,0-.52.15-.98.43-1.41.57-.85,1.14-1.7,1.7-2.56C2.47.24,2.92,0,3.54,0c3.08,0,6.16,0,9.23,0,.62,0,1.07.24,1.41.75.57.87,1.15,1.73,1.73,2.6.26.39.41.82.4,1.3,0,1.05,0,2.1,0,3.15,0,.47-.28.77-.7.77-.41,0-.69-.32-.69-.78,0-.9,0-1.81,0-2.71,0-.17-.04-.21-.22-.21-4.37,0-8.73,0-13.1,0-.17,0-.22.03-.22.21,0,3.68,0,7.36,0,11.04,0,.42.22.64.64.64,3.43,0,6.85,0,10.28,0,1.51,0,2.65-1.2,2.61-2.7-.04-1.27-1.12-2.39-2.39-2.44-.46-.02-.92,0-1.45,0Z"/>
                <path class="cls-1" d="M14.31,3.47H2.05s0-.05.01-.08c.41-.62.83-1.24,1.24-1.86.06-.09.13-.13.24-.13,3.08,0,6.15,0,9.23,0,.08,0,.15,0,.2.08.44.66.88,1.31,1.33,1.99Z"/>
              </g>
            </g>
          </svg>
        </div>
      </li>
    </ul>
    <a href="{{ section.settings.link }}">
      <button class="read-more-btn rounded-2xl text-[12px] md:text-[16px]">{{ section.settings.read_more_text }}</button>
    </a>
  </div>
  <div class="flex flex-col w-full">
    <div class="image ">
      <img src="{{ section.settings.image_url }}" alt="{{ section.settings.title_1 }}" class="rounded-tr-[30px] rounded-tl-[30px]">
    </div>
    <div class="feature-icons bg-[black] flex items-baseline rounded-br-[30px] rounded-bl-[30px] py-10 px-8 w-[100%] h-fit">
      <div class="feature-item flex flex-col items-center gap-10">
        <img src="{{ section.settings.icon_1 | img_url: '200x' }}" alt="{{ section.settings.title_1 }}">
        <h3 class="text-[10px] md:text-[12px]">{{ section.settings.title_1 }}</h3>
      </div>
      <div class="feature-item flex flex-col items-center gap-10">
        <img src="{{ section.settings.icon_2 | img_url: '200x' }}" alt="{{ section.settings.title_2 }}">
        <h3 class="text-[10px] md:text-[12px]">{{ section.settings.title_2 }}</h3>
      </div>
      <div class="feature-item flex flex-col items-center gap-10">
        <img src="{{ section.settings.icon_3 | img_url: '200x' }}" alt="{{ section.settings.title_3 }}">
        <h3 class="text-[10px] md:text-[12px]">{{ section.settings.title_3 }}</h3>
      </div>
    </div>
  </div>
 </div>
 <div class="bg-black flex justify-between items-center w-full text-white rounded-[18px] py-5 px-11">
  <span class="text-[10px] md:text-[14px] font-semibold">{{ section.settings.social_text }}</span>
  <div class="flex follow-us">
    {%- render 'social-icons', class: 'footer__list-social' -%}
  </div>
 </div>
</div>

<style>
  .list-benefit svg{
    height: 28px;
    transform: translateY(-4px);
  }
.custom-feature-section {
  max-width: var(--page-width);
  margin: auto;
}

.upper-section h2 {
  letter-spacing: -0.5px !important;
  font-weight: bold;
}

.upper-section ul {
 margin-left: 30px;
  padding: 0;
}

.upper-section ul li {
  letter-spacing: -0.5px !important;
  margin-bottom: 5px;
}

.upper-section i {
  font-style: italic;
}

.read-more-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.feature-icons {
  display: flex;
  justify-content: space-between;
}

.feature-item {
  text-align: center;
  width: 33%;
}

.feature-item img {
  max-width: 50px;
  max-height: 40px;
}
.image img{
  width:100%;
  height: 350px;
  object-fit: cover;
}

.feature-item h3 {
  letter-spacing: 0px !important;
  font-weight: bold;
  color: white;
}

.feature-item p {
  letter-spacing: -0.5px !important;
  font-size: 14px;
}
.follow-us svg{
  color: white !important;
}
.custom-feature-section .list-social{
  column-gap:5px;
}
</style>


{% schema %}
{
  "name": "Custom Feature Section",
  "settings": [
    {
      "type": "text",
      "id": "title_section",
      "label": "Title section"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Button link"
    },
    {
      "type": "richtext",
      "id": "benefit_1",
      "label": "Benefit 1"
    },
    {
      "type": "richtext",
      "id": "benefit_2",
      "label": "Benefit 2"
    },
    {
      "type": "richtext",
      "id": "benefit_3",
      "label": "Benefit 3"
    },
    {
      "type": "url",
      "id": "image_url",
      "label": "Image url"
    },
    {
      "type": "image_picker",
      "id": "icon_1",
      "label": "Icon 1"
    },
    {
      "type": "text",
      "id": "read_more_text",
      "label": "Read more text"
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "Title 1"
    },
    {
      "type": "image_picker",
      "id": "icon_2",
      "label": "Icon 2"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title 2"
    },
    {
      "type": "image_picker",
      "id": "icon_3",
      "label": "Icon 3"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Title 3"
    },
    {
      "type": "text",
      "id": "social_text",
      "label": "Social Text"
    }
  ],
  "presets": [
    {
      "name": "Custom Feature Section",
      "category": "Custom"
    }
  ]
}
{% endschema %}
